# chezmoi configuration
encryption = "age"

[data]
    email = "moe@monachilpartners.com"
    name = "Mohsen Ramez"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age167uqry040ug0hzvtyyutjlkv46ufcw6v5ymm3c2jhj46353nm4qqsv5y6j"

[git]
    autoCommit = true
    autoPush = true
