# chezmoi configuration

{{ $isOwner := false -}}
{{- if stat (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt") -}}
{{-   $isOwner = true -}}
{{- end -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $configureMacos := false -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $configureMacos = promptBoolOnce . "configureMacos" "Apply macOS system preferences (Finder, Dock, keyboard, etc.)" -}}
{{- end -}}

{{ if $isOwner -}}
encryption = "age"

{{ end -}}
[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    isOwner = {{ $isOwner }}
    configureMacos = {{ $configureMacos }}

{{ if $isOwner -}}
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age167uqry040ug0hzvtyyutjlkv46ufcw6v5ymm3c2jhj46353nm4qqsv5y6j"

{{ end -}}
[add]
    secrets = "error"

[edit]
    apply = true

{{ if lookPath "delta" -}}
[diff]
    pager = "delta"

{{ end -}}
{{ if $isOwner -}}
[git]
    autoCommit = true
    autoPush = true
{{- end }}
